{% block flash %}{% include "_partials/_flash.html.twig" %}{% endblock %}

{% for structure in structures %}
    <div class="card col-9  m-3">
        {# <img src="..." class="card-img-top" alt="..."> #}
        <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">
                <a href="{{ path('structures_details', {slug: structure.slug}) }}">
                    {{ structure.name }}
                </a>
            </h5>

            {% set state = structure.partner is null ? "partner" : "stucture" %}

            {% set checked = structure.isActivated ? 'checked' : '' %}


            <div class="form-check form-switch d-flex">
                <input
                        class="form-check-input modal-switch-user btn-lg"
                        type="checkbox"
                        role="switch"
                        {{ checked }}
                        data-role="{{ role }}"
                        data-id="{{ structure.id }}"
                        data-slug="{{ structure.slug }}"
                        data-name="{{ structure.name }}"
                        data-state="{{ state }}"
                >
            </div>

            {# {% if is_granted('ROLE_ADMIN') %} #}
            <div>
                <a class="btn btn-warning" href="{{ path('structures_edit', {slug : structure.slug}) }}">Modifier</a>

                <button type="button" class="btn btn-danger modal-trigger" data-name="{{ structure.name }}"
                        data-slug="{{ structure.slug }}"
                        data-id="{{ structure.id }}">
                    Supprimer
                </button>
            </div>


        </div>
    </div>

{% endfor %}

{% include "_partials/_pagination.html.twig" %}