{% block flash %}{% include "_partials/_flash.html.twig" %}{% endblock %}

{% for partner in partners %}
    <div class="card col-sm-9 m-3">
        {# <img src="..." class="card-img-top" alt="..."> #}
        <div class="card-body d-flex flex-column justify-content-between">


            <h5 class="card-title">
                <a href="{{ path('partners_details', {slug : partner.slug}) }}">{{ partner.name }}</a>
            </h5>
            {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of
            the card's content.</p> #}
            {% set state = partner.partner is null ? 'partner' : 'structure' %}

            {# {% set disabled = not partner.isActivated ? 'disabled' : '' %} #}

            {% set checked = partner.isActivated ? 'checked' : '' %}

            {% if partner.partner is null %}
                {% set state = "partner" %}
            {% else %}
                {% set state = "structure" %}
            {% endif %}

            <div class="form-check form-switch d-flex">
                <input class="form-check-input modal-switch-user btn-lg" type="checkbox" role="switch" {{ checked }}
                       data-role="{{ role }}" data-slug="{{ partner.slug }}" data-name="{{ partner.name }}"
                       data-state="{{ state }}">
            </div>


            <div>
                <a class="btn btn-warning" href="{{ path('partners_edit', {slug : partner.slug}) }}">Modifier</a>

                <button type="button" class="btn btn-danger modal-trigger" data-name="{{ partner.name }}"
                        data-slug="{{ partner.slug }}"
                        data-id="{{ partner.id }}">
                    Supprimer
                </button>
                {# <button type="button" class="btn btn-danger modal-trigger" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop" data-name="{{ partner.name }}" data-slug="{{ partner.slug }}"
                        data-id="{{ partner.id }}">
                    Supprimer
                </button> #}
            </div>


        </div>
    </div>

{% endfor %}

{% include "_partials/_pagination.html.twig" %}